<footer class="site-footer" id="footer" role="contentinfo">
    <div class="site-footerConstraint">
        <div class="footer-links">
            <p>Quick Links</p>
            <ul class="quick-links">
                <li>
                    <a href="{% if page.away %}{{ "/#hire-me" | prepend: site.url }}{% else %}{{ "#hire-me" }}{% endif %}">Hire me!</a>
                </li>
                <li>
                    <a href="{% if page.away %}{{ "/#why-me" | prepend: site.url }}{% else %}{{ "#why-me" }}{% endif %}">Why me?</a>
                </li>
                <li>
                    <a href="{{ "/about" | prepend: site.url }}">About me.</a>
                </li>
            </ul>
        </div>
        <div class="authorship">
            <p class="author">Website built with love by {{ site.author }}.</p>
        </div>
    </div>
</footer>