<header class="site-header" id="site-header" role="banner">
    <div class="site-headerConstraint">
        <div class="site-banner">
            <h1 class="site-title"><a href="/">{{ site.title | append: '.' }}</a></h1>
            <a class="nav-toggle icon-menu2" id="nav-toggle"></a>
        </div>
        <nav class="site-navigation is-open" id="site-nav" role="navigation">
            <h2>Site Navigation</h2>
            <ul class="nav-anchor">
                <li>
                    <a href="{% if page.away %}{{ "/#hire-me" | prepend: site.url }}{% else %}{{ "#hire-me" }}{% endif %}">Hire me!</a>
                </li>
                <li>
                    <a href="{% if page.away %}{{ "/#why-me" | prepend: site.url }}{% else %}{{ "#why-me" }}{% endif %}">Why me?</a>
                </li>
                <li>
                    <a href="{{ "/about" | prepend: site.url }}">About me.</a>
                </li>
            </ul>
        </nav>
    </div>
</header>