body {
    font: 100%/1 sans-serif;
    color: #454545;
    position: relative;
    margin: 0;
}
a {
    background: transparent;
    text-decoration: none;
    @include prefix(( transition: all 0.5s ease ));

    &:hover, &:focus {
        outline: 0;
    }
}
p {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
* {
    @include prefix(( box-sizing: border-box ));
}