<!DOCTYPE html>
<html>

    {% include head.html %}

<body>

    {% include header.html %}

    <div class="main-content" role="main">
        {{ content }}
    </div>

    {% include footer.html %}

    <a class="goto-top is-hidden icon-arrow-up" href="#site-header" title="Back to Top"></a>
    <span class="sm"></span><span class="md"></span><span class="lg"></span>

    <script src="{{ "/scripts/jquery-1.11.1.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/scripts/kaye.min.js" | preped: site.url }}"></script>
</body>
</html>