// Footer styles

.site-footer {
    background: $black;
    overflow: auto;

    &Constraint {
        @extend %constraint;
        @extend %grid;

        @at-root .footer-links, .authorship {
            @extend %grid_item;
            @include width(1, 1em);

            @include media_query(48em) {
                & {
                    @include width(1/2);
                }
            }
        }
    }

    p {
        font-size: .9em;
        color: lighten($black, 23.5%);
        text-align: center;
        margin: 0 0 .75em;

        @include media_query(48em) {
            & {
                text-align: left;
                padding-left: 1em;
            }
        }
    }

    @at-root .quick-links {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            padding: .125em;
        }

        a {
            display: block;
            font-size: .85em;
            color: lighten($black, 11%);
            text-align: center;
            width: 7.35em;
            margin: 0 auto;
            padding: .5em;

            &:hover {
                color: darken($white, 31.4%);
            }

            @include media_query(48em) {
                & {
                    text-align: left;
                    margin: 0;
                    padding-left: 1.06em;
                }
            }
        }
    }

    .author {
        margin: 1em 0;

        @include media_query(48em) {
            text-align: right;
            margin: 0;
            padding: 0 1em 0 0;
        }
    }
}

