// Contact me styles

.contact-me {
    background-color: darken($black, 3%);
    overflow: auto;

    h2 {
        display: none;
    }

    @at-root .contactMe-constraint {
        @extend %constraint;
        @extend %grid;

        >.contactMe-items {
            @extend %grid_item;
            @include width(1, .5em);
        }
        @include media_query(37.5em) {
            >.contactMe-items {
                @include width(1/2);
            }
        }
    }

    a {
        display: block;
        color: $white;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        padding: .5em;

        span {
            font-size: 2em;
            padding: 0 .5em 0 0;
            vertical-align: middle;
        }

        &:hover {
            color: $orange;
        }
    }
}