// Hire me! content

.hire-me {
    background-color: darken($white, 3%);
    overflow: auto;

    @at-root .hireMe-constraint {
        @extend %constraint;
    }

    @at-root .hireMe-title {
        font-size: 2em;
        font-weight: normal;
        color: lighten($black, 9.5%);
        text-align: center;
        margin: 0;
    }
    @at-root .hireMe-subtitle {
        @extend .hireMe-title;
        font-size: 1.25em;
    }
}
@include media_query(48em) {
    .hireMe-title {
        font-size: 2.5em;
    }
    .hireMe-subtitle {
        font-size: 1.5em;
    }
}

.lessons {
    @extend %grid;
    margin-top: 2em;

    >.lesson-items {
        @extend %grid_item;
        @include width(1);
        padding: .5em;
    }
    @include media_query(30em) {
        >.lesson-items {
            @include width(1/2);
        }
    }
    @include media_query(75em) {
        > .lesson-items {
            @include width(1/4);
        }
    }
}

.speech, .grammar, .reading, .writing {
    @extend %grid;
    padding: 1em;

    >p {
        @extend %grid_item;
        @include width(2/3);
        font-size: 1.5em;
        color: $white;
        text-indent: .6em;
        margin: 0;
        padding: 1.25em;
    }
    >span {
        @extend %grid_item;
        @include width(1/3);
        font-size: 2.5em;
        color: $white;
        text-align: center;
        padding: .5em 0;
    }
    @include media_query(30em) {
        >span, >p {
            @include width(1)
        }
        >p {
            text-align: center;
            text-indent: 0;
            padding-top: .5em;
        }
    }
    @include media_query(48em) {
        >span {
            @include width(2/5);
            font-size: 3em;
        }
        >p {
            @include width(3/5);
            font-size: 1.75em;
            text-align: left;
            text-indent: .75em;
            padding: 1.5em 0;
        }
    }
    @include media_query(75em) {
        >span {
            @include width(1);
            font-size: 3.5em;
        }
        >p {
            @include width(1);
            text-align: center;
            text-indent: 0;
            padding-top: .5em;
        }
    }
}

.speech {
    background-color: lighten($red, 7%);
}
.grammar {
    background-color: desaturate(darken($yellow, 5%), 3%);
}
.reading {
    background-color: desaturate($blue, 16%);
}
.writing {
    background-color: saturate($orange, 5%);
}