body {
    margin: 0;
    font: #{$font-size}/#{$line-height} #{$font-family};
    color: lighten($black, 25%);
}
a {
    background: transparent;
    text-decoration: none;
    color: $green;
    @include prefix((
            "transition": 250ms linear all
        ));

    &:active, &:focus {
        outline: none;
    }
    &:hover {
        color: $orange;
    }
}
p {
    margin: 1em 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
* {
    @include prefix((
            "box-sizing": border-box
        ));
}