// Typograhpy
$font-family: Quicksand, Arimo, Droid Sans, Helvetica, Arial, sans-serif;
$font-size: 100%;
$line-height: 1.5;

// Color
$black: #2d2d2d;
$white: #f9f9f9;
$red: #d11d24;
$green: #4fb84f;
$yellow: #fbd22a;
$orange: #f5680e;
$blue: #00c7df;

@import "base";
